<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>rhea.framework Reflection Template</title>
  <meta name="Rhea Flow Template" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/select2.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <style>
  	.custom-file-control:after {
  	    content: attr(data-content) !important;
  	}
  </style>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="28" height="28" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/flowtemplate">FlowTemplate<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/ontologyview">KnowledgeBase</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
		<!--<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>-->
	</div>
	</nav>
	<!--<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Reflection (Flow) Template</li>
	  </ol>
	</nav>-->
<div class="container-fluid">
<div class="row">
  <div class="col-md-8">
	  <h3 class="text-left lead my-2">Reflection (Flow) Template
	  <a href="/guideline" class="btn btn-outline-success float-right ml-2" role="button" aria-pressed="true">Guideline</a>
	  <a href="https://fedora.phaidra.univie.ac.at/fedora/objects/o:780694/methods/bdef:Content/get" class="btn btn-outline-primary float-right ml-2" role="button" aria-pressed="true">Print Version</a>
	  </h3>
	   <div class="form-group">
		 <label for="flowTitle">Title:</label>
	  	 <input class="form-control form-control-lg" id="flowTitle" type="text">
	 </div>
	  <div class="form-group">
		  <label for="flowDescription">Description:</label>
	   	 <textarea class="form-control" rows="35" id="flowDescription" placeholder = "A flow description may include the following reflection anchors: Intent , Context , Tensions that are perceived to influence or establish the situation, (Intended) Solution, Consequences or Resulting Context. Assisting Questions: How would this stakeholder perceive the situation? What would that specific team member say about it? How does colleague A perceive his/her relation to colleague B concerning the situation?"></textarea>
	  </div>
  	   <div class="form-group">
		  <label for="flowPicURL">Picture URL:</label>
  	  	 <input class="form-control form-control-lg" id="flowPicURL" type="text">
  	 </div>
 	   <div class="form-group">
		   <label for="flowRefURL">Reference URL:</label>
 	  	 <input class="form-control form-control-lg" id="flowRefURL" type="text">
 	 </div>
 	 	<div class="form-group">
		  <label for="coreflowSelect">Categories:</label>
 		  <div class="mt-2">
		  <select class="coreflowSelect" id="flowCoreFlowSelection" multiple="multiple">	
 				<option>Prototype Team Identity</option>
 	        	<option>Organize for Complexity</option>
 		        <option>Facilitate Team Cohesion</option>
 		        <option>Structure for Task Effectiveness</option>
 		 </select>
	     </div>
		 <div class="mt-2">
 	      <select class="behaviourSelect" id="flowBehaviourSelection" multiple="multiple">
  			<optgroup label="Person-related Behaviour">			
 				 <option>Team Member Selection</option>
 	        	 <option>Team Norming</option>
				 <option>Team Structure Management</option>
				 <option>Role Modeling</option>
				 <option>Communication</option>
				 <option>Conflict Resolution</option>
				 <option>Consulting</option>
				 <option>Coaching</option>
				 <option>Motivating</option>
				 <option>Mentoring</option>
 			</optgroup>
 			 <optgroup label="Task-related Behaviour">
 		        <option>Planning and Scheduling</option>
 		        <option>Allocating Resources</option>
 		        <option>Monitoring and Controlling</option>
 			</optgroup>
 			 <optgroup label="Change-related Behaviour">
 		        <option>Continuous Learning</option>
 		        <option>Sensing</option>
 		        <option>Vision</option>
 			</optgroup>
			<optgroup label="Boundary-spanning Behaviour">
 		        <option>Buffering</option>
 		        <option>Managing Interfaces</option>
 		        <option>Representing</option>
 			</optgroup>
 			 <optgroup label="Emergent Process Facilitation">
 		        <option>Creating a supportive Team Atmosphere</option>
 		        <option>Enabling Team Processes</option>
 		        <option>Interpersonal Facilitation</option>
 		        <option>Co-Leadership</option>
 			</optgroup>
 	      </select>
	      </div>
		  <div class="mt-2">
 	      <select class="riskSelect" id="flowRiskSelection" multiple="multiple">
  			<optgroup label="Structural Risk">			
 				 <option>Orientation</option>
 	        	 <option>Funding</option>
  		        <option>Performance Strategies - Goals - Schedules</option>
  		        <option>Role Definition</option>
  		        <option>Resources and Technical Knowledge Acquisition</option>
 		        <option>Complexities in Market - Organization - and Tasks</option>
 			</optgroup>
 			 <optgroup label="Process Risk">
 		        <option>Motivation</option>
 		        <option>Conflict in  Roles - Team - Organization Politics</option>
 		        <option>Team Atmosphere</option>
 		        <option>Reassurance</option>
 		        <option>Interpersonal Relationships</option>
 		        <option>Change</option>
 		        <option>Leadership Experience</option>
 		        <option>Communication</option>
 			</optgroup>
 		</select>
	    </div>
		<div class="mt-2 mb-2">
       <select class="upPhase" id="flowUPSelection" multiple="multiple">	
 			<option>Inception</option>
         	<option>Elaboration</option>
 	        <option>Construction</option>
 	        <option>Transition</option>
 	 </select>
 		</div>
 	  </div>
	  <label class="custom-file float-left">
	    <input type="file" id="file" class="custom-file-input">
	    <span class="custom-file-control" data-content="Choose file..."></span>
	  </label>
	  <button type="button" class="btn btn-outline-info mb-2 ml-2 float-left" value="Import" id="importJson">Import</button>
	  <!--<button type="button" class="btn btn-outline-success mb-2 ml-2 float-right" value="Save" id="saveFlow">Save</button>-->
	  <button type="button" class="btn btn-outline-info mb-2 ml-2 float-right" value="Export" id="exportJson">Export</button>
  </div>
  <div class="col-md-4">
	<div class="text-center">
		<button class='btn btn-outline-warning mt-2 mb-2' id='analyze'>Analyze</button>
	</div>
	<p><b>DISCLAIMER:</b> After clicking "Analyze", flow contents are sent to a server over a secure (https) connection. Contents are compared to the knowledge base by evaluating semantic document similarity using <a href="https://spacy.io"> spacy </a> for natural language processing.  <b>No personal data is stored on the server.</b> If you prefer not to send flow contents, you can <a href="https://github.com/rheafmwk/rheafmwk">download this project from GitHub</a> to analyze your flow locally.</p>
	<div class="detailsentiment"><span class="badge badge-warning">Sentiment: ~ </span></div>
	<div class="detailkeywords"><b>Keywords:</b><span class="badge badge-secondary">Love (6.45)</span><span class="badge badge-secondary">Test (2.645)</span><span class="badge badge-secondary">Unified Process (0.4)</span><span class="badge badge-secondary">More info (0.3334)</span><span class="badge badge-secondary">Team (0.12)</span></div>
	<p>
	<div class="detailflows"></div>
	<p>
  </div>
  </div>
  
</div>

<footer class="py-3 bg-light">
	 <div class="container">
    <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which is elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.2 (2018). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
		<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	</small></p>
</div>
</footer>
		
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/select2.min.js"></script>
<script src="../static/js/flow.js"></script>
<script type="text/javascript">
	$("#flowCoreFlowSelection").select2({
		placeholder: "Core Flow",
	 width: '100%'	});
	$("#flowBehaviourSelection").select2({
		placeholder: "Behaviour",
	 width: '100%'	});
 	$("#flowRiskSelection").select2({
 		placeholder: "Risk",
 	 width: '100%'	});
  	$("#flowUPSelection").select2({
  		placeholder: "Unified Process Life-Cycle Phase",
  	 width: '100%'	});
	 $("input[type=file]").change(function () {
	   var fieldVal = $(this).val().replace(/C:\\fakepath\\/i, '');
	   if (fieldVal != undefined || fieldVal != "") {
	     $(this).next(".custom-file-control").attr('data-content', fieldVal);
	   }
	 });
</script>
</body>
</html>
