<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>rhea.framework Reflection Guideline</title>
  <meta name="Rhea Flow Template" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/select2.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <style>
  	.custom-file-control:after {
  	    content: attr(data-content) !important;
  	}
  </style>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="28" height="28" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/flowtemplate">FlowTemplate<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/ontologyview">KnowledgeBase</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
	</div>
	</nav>
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/flowtemplate">Reflection (Flow) Template</a></li>
		<li class="breadcrumb-item active" aria-current="page">Reflection Guideline</li>
	  </ol>
	</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
	<h3 class="text-left lead my-2">Reflection Guideline</h3>
	</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
	<p>In the <i>rhea.framework</i>, flows are observable interpersonal interactions between a person holding a leadership function and one or more team members that impact team performance in a work context. Leadership is hereby seen as functional - supporting the longevity and performance of a team. It is not necessarily related to specific formal team roles.</p>
	<p>Elemental to each flow is a particular tense situation and interpersonal interaction to impact involved tensions. Significant interpersonal situations frequently:</p>
	<ul>
	<li>appear to be mainly described by adjectives with emotional connotations.</li>
	<li>are frequently expressed in superlatives.</li>
	<li>appear to precede a shift in a situation. The situation is described to be perceived differently afterwards.</li>
	<li>appear to be repeated several times in the course of an interview.</li>
	<li>appear to form, shape or align to some sort of ideal - an ideal value, or an ideal self or situational imagination.</li>
	<li>seem to form mental representations for comparison with other personal experiences.</li>
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">General Suggestions</h5>
	    <p class="card-text">Find a place where you can comfortably reflect and write - maybe in your office, on your couch at home, or in a café - whatever suits your needs and preferences best.</p>
		<p class="card-text">Actively schedule time to reflect on your work situation. Assembling a flow can take 30 minutes and more in the beginning, and less time, approximately 15 minutes, if you are more comfortable in your writing process.</p>
		<p class="card-text">Use the <a href="/flowtemplate">Flow Template</a> and this guideline in a manner you find suitable. They are intended to provide helpful anchors in reflecting work situations, not to be rigidly followed.</p>
		<p class="card-text">Come back to your flows to refine, or change your descriptions whenever you consider worthwhile. Use the template to sketch out your insights.</p>
	  </div>
	</div>
</div>
<div class="col-md-1">
</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
	<h4 class="lead">Flow Template Facets</h4>
	<h5>Title</h5>
		<p>The title of a flow.</p>
		<p>A proper title may emerge only after a flow is described.</p>
	<hr/>
	<h5>Description</h5>
	<p>A flow description may include the following reflection anchors:</p>
	<h6>Intent</h6>
	<p>A significant interpersonal situation involving the project team with team members or associates in a leadership function impacting team performance. A focus is set on the personal perception of the situation as well as personal motivation for interaction in it and related feelings.</p>
	<h6>Context</h6>
	<p>Circumstances in which this particular situation of interpersonal tension emerges in the team and its environment (including e. g. interpersonal team atmosphere, team history, team size, project phase, company core values, organizational process structures, ...).</p>
	<p>Tensions that are perceived to influence or establish the situation (may be listed).</p>

	<h6>(Intended) Solution</h6>
	<p>A leadership team interaction that (is intended to) impact(s) the tense situation.</p>

	<h6>Consequences (or Resulting Context)</h6>
	<p>The (contingent) destinies of involved tensions risen through (intended) interaction.</p>
	
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">Questions</h5>
	    <p class="card-text">Asking yourself questions such as the following may facilitate describing the situation (compare: von Schlippe & Schweitzer 2016, p. 138):</p>
		<ul>
			<li>How would this stakeholder perceive the situation?</li>
			<li>What would that specific team member say about it?</li>
			<li>How does colleague A perceive his/her relation to colleague B concerning the situation?</li>
			<li>If the situation allows it and you feel comfortable with it, involved participants could be asked for feedback - in the group, one to one, or anonymously. Or, they could be asked to read through the Flow and comment on the description?</li>
		</ul>
	  </div>
	</div>
	
	
	<p>If you feel that the situation and involved tensions are sufficiently described, continue to outline consequences and (intended) solutions!</p>
	<hr/>
	<h5>Keywords</h5>
	<p>3 to 5 expressive keywords may be added to a description to highlight flow key points.</p>
	<hr/>
	<h5>Picture</h5>
	<p>An image may support recognizing the meaning of the interaction description.</p>
	<p>An image could be a diagram that represents some relations or workflows, or a metaphoric representation (such as a drawing or a collage) of the issue. UML Activity diagrams (Booch et al. 2005) are recommended to depict relations and workflows.</p> 
	<p>An outline of Activity Diagrams is given in the following <a href="https://www.ibm.com/developerworks/rational/library/2802.html">UML Activity Diagrams Introduction</a>.
	<hr/>
	<h5>Resources</h5>
	<p>Further reading, links to online tools contributing to the flow description.</p>
	<hr/>
	<h5>Categories and Relationships</h5>
	To relate a flow to other flows in the <i>rhea.framework</i> reference model, it can be categorized. Relating flows may support flow linkability.
	<div class="accordion" id="accordionExample">
	  <div class="card">
	    <div class="card-header" id="headingOne">
	      <h5 class="mb-0">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	          Leadership Behavior Categories
	        </button>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
			  <div class="row">
			  <div class="col-md-6">
				  <img src="../static/assets/ltitaxonomy.svg" height=800 />
			  </div>
			  <div class="col-md-6">
				  <table>
				  <thead>
				  <tr>
				  <th>Leadership Team Interaction Category</th>
				  <th>Heuristics (adapted from findings in each category)</th>
				  </tr>
				  </thead>
				  <tbody>
				  <tr>
				  <td>TEAM MEMBER SELECTION</td>
				  <td>Recruiting competent personnel, selecting team members</td>
				  </tr>
				  <tr>
				  <td>TEAM NORMING</td>
				  <td>Explicating norms and expectations, establishing team rules</td>
				  </tr>
				  <tr>
				  <td>TEAM STRUCTURE MANAGEMENT</td>
				  <td>Forming a team, verifying team structure, clarifying roles, clarifying task assignments</td>
				  </tr>
				  <tr>
				  <td>ROLE MODELING</td>
				  <td>Leading by example, taking risks to promote necessary change</td>
				  </tr>
				  <tr>
				  <td>COMMUNICATION</td>
				  <td>Providing feedback, establishing effective communication channels, listening attentively, communicating customer feedback and market situation, encouraging transparency, fostering dialogue competencies in team members, enabling utilization of language ambiguities</td>
				  </tr>
				  <tr>
				  <td>CONFLICT RESOLUTION</td>
				  <td>Negotiating and resolving conflicts, reducing conflict, discussing unavoidable changes with team</td>
				  </tr>
				  <tr>
				  <td>CONSULTING</td>
				  <td>Overseeing the project, assisting problem solving, proposing solutions, recalibrating actions, training team members to communicate with each other</td>
				  </tr>
				  <tr>
				  <td>COACHING</td>
				  <td>Training and developing team member skills and confidence, channeling abilities of people to be effective in team</td>
				  </tr>
				  <tr>
				  <td>MOTIVATING</td>
				  <td>Enhancing task motivation, providing recognition for achievements</td>
				  </tr>
				  <tr>
				  <td>CO-LEADERSHIP</td>
				  <td>Leading together</td>
				  </tr>
				  <tr>
				  <td>PLANNING AND SCHEDULING</td>
				  <td>Developing plans, providing and setting clear project goals and directions, searching and structuring information, offering clear strategies</td>
				  </tr>
				  <tr>
				  <td>ALLOCATING RESOURCES</td>
				  <td>Obtaining and maintaining resources the team needs</td>
				  </tr>
				  <tr>
				  <td>MONITORING AND CONTROLLING</td>
				  <td>Managing personnel resources, monitoring operations and performance, assessing work progress, reviewing efforts and talents</td>
				  </tr>
				  <tr>
				  <td>CONTINUOUS LEARNING</td>
				  <td>Practicing personal creative ability, challenging the process, accepting reasonable failure, advancing professionally, practicing improvisational abilities</td>
				  </tr>
				  <tr>
				  <td>SENSING</td>
				  <td>Interpreting internal and external events, mastering internal forces, giving sense, monitoring environmental change</td>
				  </tr>
				  <tr>
				  <td>VISION</td>
				  <td>Creating a vision, supporting a shared understanding of wholeness, envisioning change, inspiring a shared process</td>
				  </tr>
				  <tr>
				  <td>BUFFERING</td>
				  <td>Protecting team from external pressures, filtering external communication for team, helping different teams to communicate together, shield team from organizational conflict and power struggles</td>
				  </tr>
				  <tr>
				  <td>MANAGING INTERFACES</td>
				  <td>Organizing for border crossing, e. g. through transparency, defining cross-functional interface personnel, enabling team collaboration among interfacing team elements</td>
				  </tr>
				  <tr>
				  <td>REPRESENTING</td>
				  <td>Representing team for higher management, organizing team and work visibility, involving higher authority</td>
				  </tr>
				  <tr>
				  <td>CREATING A SUPPORTIVE TEAM ATMOSPHERE</td>
				  <td>Establishing a positive team climate, giving prerequisites for collective to emerge, fulfilling nontask needs for team members, relating to other individuals in the group, creating emotional spaces, listening actively and supporting cohesiveness of the group</td>
				  </tr>
				  <tr>
				  <td>ENABLING TEAM PROCESSES</td>
				  <td>Empowering people to take initiative, communicating on a meta-level, providing interesting and challenging work, fostering team member commitment, encouraging team self-management</td>
				  </tr>
				  <tr>
				  <td>INTERPERSONAL FACILITATION</td>
				  <td>Inspiring trust through personal credibility, providing support when someone is upset or anxious, providing encouragement, encouraging innovative thinking, focusing on interaction and creative processes, challenging people to question assumptions, celebrating</td>
				  </tr>
				  <tr>
				  <td>MENTORING</td>
				  <td>Informal apprenticeship</td>
				  </tr>
				  </tbody>
				  </table>
				  <p>compare (Haselberger 2016)</p>
			  </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          (Project) Risk Categories
	        </button>
	      </h5>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
	      <div class="card-body">
			  <div class="row">
		  <div class="col-md-6">
			  <img src="../static/assets/risktaxonomy.svg" height=600 />
			  <p>(compare Haselberger 2016)</p>
		  </div>
		  <div class="col-md-6">
			  <table>
			  <thead>
			  <tr>
			  <th>Risk Category</th>
			  <th>Heuristics (adapted from findings in each category)</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			  <td>Orientation</td>
			  <td>Unclear mission or business objectives, identifying all stakeholders</td>
			  </tr>
			  <tr>
			  <td>Funding</td>
			  <td>Underfunding of development or maintenance</td>
			  </tr>
			  <tr>
			  <td>Performance Strategies, Goals, Schedules</td>
			  <td>Unclear tasks or project goals, no agreement on project plans, unclear requirements, changing scope, artificial deadlines</td>
			  </tr>
			  <tr>
			  <td>Role Definition</td>
			  <td>Unclear role definition, insufficient or inappropriate staffing</td>
			  </tr>
			  <tr>
			  <td>Resources and Technical Knowledge Acquisition</td>
			  <td>Perceived technical uncertainty, missing professional skills, insufficient resources</td>
			  </tr>
			  <tr>
			  <td>Complexities in Market, Organization and Tasks</td>
			  <td>Intense competition, stagnation in competitive environment, introduction of new technologies, stability of technical architecture, indecision, decentralized uncontrolled work processes</td>
			  </tr>
			  <tr>
			  <td>Motivation</td>
			  <td>Low motivation, apathy, low team spirit, perception of inadequate rewards and incentives, poor recognition and visibility of accomplishments, little work challenge</td>
			  </tr>
			  <tr>
			  <td>Conflict in Roles, Team, Organization Politics</td>
			  <td>Excessive conflict among team members, role conflict, power struggles, organizational conflict</td>
			  </tr>
			  <tr>
			  <td>Interdependence and Trust</td>
			  <td></td>
			  </tr>
			  <tr>
			  <td>Team Atmosphere</td>
			  <td>Little team involvement, low degree of mutual trust and respect, problems in attracting and holding team members</td>
			  </tr>
			  <tr>
			  <td>Reassurance</td>
			  <td>Fear of failure and potential penalty, (unintentional) isolation of knowledge, decision alternatives are not fully explored</td>
			  </tr>
			  <tr>
			  <td>Interpersonal Relationships</td>
			  <td>Lack of cooperation, collusion, protectionism, lack of user involvement</td>
			  </tr>
			  <tr>
			  <td>Change</td>
			  <td>Excessive requests for directions, strong resistance to change</td>
			  </tr>
			  <tr>
			  <td>Leadership Experience</td>
			  <td>Disinterested, uninvolved management, lack of leadership credibility, wrong timing of intervention, excessive use of outside consultants, lack of controls over consultants, vendors and subcontractors</td>
			  </tr>
			  <tr>
			  <td>Communication</td>
			  <td>Poor communication among team members and with support groups, lack of performance feedback</td>
			  </tr>
			  </tbody>
			  </table>
			   <p>compare (Haselberger 2016)</p>
		  </div>
	  </div>
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Unified Process Life-Cycle Phase Categories
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	      <div class="card-body">
	        <img src="../static/assets/upvis.png" />
			<p>In the Unified Process, four project life-cycle phases are differentiated: Inception, Elaboration, Construction and Transition. Find out more <a href="https://en.wikipedia.org/wiki/Unified_Process#Project_lifecycle_(Phases_of_Unified_Process)">here</a>.</p>
	      </div>
	    </div>
	  </div>
	</div>
	
	
		<p>Besides taxonomy categorizations, related flows can be listed here.</p>
</div>
<div class="col-md-1">
</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-1">
	</div>
		<div class="col-md-10">
	<h6>References</h6>
	<ul>
		<li><small class="lead">C. Alexander, Notes on the Synthesis of Form. Harvard University Press, 1964.</small></li>
		<li><small class="lead">G. Booch, J. E. Rumbaugh, and I. Jacobson, “The unified modeling language user guide - covers UML 2.0, Second Edition.,” Addison-Wesley object technology series, 2005.</small></li>
		<li><small class="lead">D. Haselberger, “A literature-based Framework of Performance-related Leadership Interactions in ICT Project Teams,” Information and Software Technology, vol. 70, no. C, pp. 1–17, 2016.</small></li>
		<li><small class="lead">J. Kriz, Self-Actualization. Norderstedt: Books on Demand GmbH, 2006.</small></li>
		<li><small class="lead">A. von Schlippe and J. Schweitzer, Primer on systemic therapy and counselling I: Basic Knowledge (orig.: Lehrbuch der systemischen Therapie und Beratung 1: Das Grundlagenwissen), no. 1. Vandenhoeck & Ruprecht, 2016.</small></li>
	</ul>
</div>
<div class="col-md-1">
</div>
</div>
	
<footer class="py-3 bg-light">
	 <div class="container">
    <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which was elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.3 (2020). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
		<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	</small></p>
	</div>
	</footer>
</div>
	
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/select2.min.js"></script>
</body>
</html>
