<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>rhea.framework Overview</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<style>
		.itir-header {
		    height: 34vh;
		    min-height: 220px;
		    background: url('../static/assets/bg.png') center center no-repeat scroll;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    background-size: cover;
		    -o-background-size: cover;
		}
		
		.descInHeader {
			vertical-align: middle;
			line-height: 220px;
		}
		
		
	</style>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="28" height="28" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item active">
	           <a class="nav-link" href="/">Overview<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/flowtemplate">FlowTemplate</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/ontologyview">KnowledgeBase</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
		<!--<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>
		--><!--<a href="https://github.com/rheafmwk/rheafmwk" class="ml-2">
		    <img src="../static/assets/mark-github.svg" width="30" height="30" alt="">
		  </a>-->
	</div>
	</nav>
    <header class="itir-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 descInHeader text-center">rhea.framework</h1>
                </div>
            </div>
        </div>
    </header>

    
	<div class="container-fluid">
	<div class="row">
	  <div class="col-md-12">
		<div class="text-center">
			<h2 class="display-4 mt-4">Experiential Learning in Team Leadership.</h2>
		</div>
	  </div>
    </div>
	  
  	<!--<div class="row">
  	  	<div class="col-md-12"><div class="text-center lead mt-3"><b>Next Steps</b></div></div>
  	</div>-->
		<hr>
      <div class="row">
      	  	<div class="col-md-4">
  				<div class="text-center float-right lead mt-4">Start a <a href="/flowtemplate" class="btn btn-outline-success btn-lg my-2 my-sm-0" role="button" aria-disabled="true">Flow.</a>
  				</div>
      		</div>
      	  	<div class="col-md-4">
  				<div class="text-center lead mt-4">Explore the <a href="/ontologyview" class="btn btn-outline-info btn-lg  my-2 my-sm-0" role="button" aria-disabled="true">Knowledge Base.</a> 
  				</div>
      		</div>
      	  	<div class="col-md-4">
  				<div class="text-center float-left lead mt-4">Join the <a href="#community" class="btn btn-outline-success btn-lg my-2 my-sm-0" role="button" aria-disabled="true">Community.</a>
  				</div>
      		</div>
    	</div>
	<hr>
	<div class="row">
	  <div class="col-md-12"><div class="text-center lead mt-5"><a id="overview"></a><b>Introduction</b></div></div>
	</div>
	<div class="row">
		<!--<div class="col-md-3"></div>-->
		 <div class="col-md-12 mt-4">
			 <span class="lead">Information and Communication Technology (ICT) projects frequently fail <a href=https://www.infoq.com/articles/standish-chaos-2015>due to people-, not technology issues</a>. Interpersonal interactions within a team influence team performance. While it's rare to set aside time to contemplate teamwork issues in a fast paced industry such as ICT, reflection is a worthwhile practice in steadily changing, complex environments. Reflection of personal practice is pivotal to experiential learning on team leadership. The development of team leadership capacities can be seen as a life-long learning process.</span><p><p>
<span class="lead">The <i>rhea.framework</i> offers <b>conceptual guidelines for continual self-directed and interpersonal team leadership reflection</b>. While team leaders may aim at some kind of reflective practice, and some project management and software development methodologies even describe the importance of reflection processes, the <i>rhea.framework</i> decisively supports experiential learning of persons holding leadership functions within a team through 
	<ul>
	<li><small class="lead">providing a structured reflection template with an easy to follow reflection guideline,</small></li>
    <li><small class="lead">an in-depth team leadership knowledge base for comparison and exploration, and</small></li>
	<li><small class="lead">offering opportunities to get in contact and share experiences with other team leaders in moderated, case-based reflection meetings.</small></li>
	</ul><p>
<span class="lead">The <i>rhea.framework</i> is released as an <b>open educational resource</b>. It can be integrated in various organizational contexts and along other leadership learning approaches. <!--It represents a <a href="/ontologyview#methodologyinterfaces"><i>person principle</i></a> to extend software development methodologies.--></span>
</span>
		 </div>
		 <!--<div class="col-md-3"></div>-->
		<!--<div class="col-md-4"></div>
		<div class="col-md-6">
  			<ul>
				<li><small class="lead">Support <b>personal reflection</b> on leadership in teams</small></li>
				<li><small class="lead">Support <b>learning from experience</b> together with peers</small></li>
				<li><small class="lead">Support <b>learning from others’</b> experience</small></li>
				<li><small class="lead"><b>Increase </b>of team leadership <b>capacities</b></small></li>
			</ul>
		</div>
		<div class="col-md-2"></div>-->
  	 </div>
			
	 <hr>
	<div class="row">
	  <div class="col-md-12">
		  <div class="text-center lead mt-5 mb-4"><b>Concepts</b></div><p>
			  <span class="lead">The <i>rhea.framework</i> introduces the following concepts: <i>flows</i> referring to personal written reflections, <i>reference flows</i> describing case studies, best practices or organizational patterns from peer reviewed sources for comparison, and <i>core flows</i> denominating foundational topics in team leadership.</span>
	  </div>
  </div>
  <div class="row">
	  <div class="col-md-12">		  
		  <div class="text-center"><img src="../static/assets/rheaConcepts.svg" width=80% class="img-fluid"></div></div>
	  </div>
  <div class="row">
	  <div class="col-md-12">
		  <hr>
  	      <div class="text-center lead mt-5"><b>Activities</b></div></div>
		  </div>
	<div class="row">
		<div class="col-md-6 mt-4">
		   <div class="text-center"><img src="../static/assets/rheaActivities.svg" width=80% class="img-fluid"></div>
	  </div>
	<div class="col-md-6 mt-4">
	  <span class="lead"><b>Flow:</b> If a <i>significant event</i> occurs in day-to-day team leadership practice, a <a href="/flowtemplate"> written reflection (or <i>flow</i>)</a> is elaborated following the <a href="/guideline">reflection guideline</a>.</span><p></p>  
	  <span class="lead"><b>Knowledge Base:</b> The <a href="/ontologyview">knowledge base</a> can be used to compare personal experiences with <i>reference flows</i>.</span><p></p>
	  <span class="lead"><b>Flow Session:</b> Moderated peer learning meetings (or <i>flow sessions</i>) support reflection in a group of like-minded peers. Subscribe to the <a href="http://eepurl.com/cEhvdr">newsletter</a> to get updates on <i>flow sessions</i> in your area.</span><p><small>
		 (<i>Flow sessions</i> are rigorously organized adhering to the <a href=#modalFlowSessionPolicy data-toggle="modal" data-target="#modalFlowSessionPolicy"><i>flow session</i> policy</a>. The steps described in the <a href=#modalFlowSessionProcedure data-toggle="modal" data-target="#modalFlowSessionProcedure"> <i>flow session</i> procedure description </a> guide through peer learning sessions, particularly in the beginning.) 
	  </small>
	</div>
	  </div>
  	<hr>
  	<div class="row">
  	  	<div class="col-md-12"><div class="text-center lead mt-4 mb-4"><a id="community"><b>Community</b><p></p>
			<span class="lead">Please <a href="http://eepurl.com/cEhvdr">subscribe to the newsletter</a> to get information on interpersonal reflection meetings (flow sessions) in your area, updates to the reference model, and news on advances in the practice of interpersonal interaction in team leadership.</span><p></p>
			<div class="text-center lead mt-4">Subscribe to the <a href="http://eepurl.com/cEhvdr" class="btn btn-outline-success btn-lg my-2 my-sm-0" role="button" aria-disabled="true">Newsletter.</a>
			</div>
			</div></div>
	</div>
	<hr>
  	<div class="row">
  	  	<div class="col-md-12"><div class="text-center lead mt-4"><b>Backgrounds</b><p></p><span class="lead">The <i>rhea.framework</i> emerged in an ongoing design science research study on interpersonal interaction in ICT-project teams. <a href="/literature" class="btn btn-outline-primary" role="button" aria-pressed="true">Find out more.</a></span></div></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			&nbsp
		</div>
	</div>
</div>

<div class="modal fade" id="signEvModal" tabindex="-1" role="dialog" aria-labelledby="signEvModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="signEvModalLabel">Significant Event</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         Significant interpersonal situations frequently appear to be described by adjectives with emotional connotations, are expressed in superlatives, appear to precede a shift in a situation (perceived differently afterwards), form mental representations for comparison with other personal experiences.
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

<div class="modal fade bd-example-modal-lg" id="modalFlowSessionPolicy" tabindex="-1" role="dialog" aria-labelledby="modalFlowSessionPolicyLong" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">rhea.framework Flow Session Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <h5>General Information</h5>
		    <p>Interpersonal reflection meetings (flow sessions) support team leadership reflection in a group of like-minded peers. <b>All flow session participants confirm confidentiality in the group.</b></p>
		    <hr>
		    <h5>Who participates?</h5>
		    <p>5 to 8 persons interested in reflecting and developing their team leadership capacities and 1 or 2 moderators.</p>
			<h8><u>Participation Criteria</u></h8>
			<ul>
				<li>Personal interest in reflecting and developing team leadership capacities.</li>
				<li>Interest in reflecting in a learning group together with others.</li>
				<li>Engagement and time investment in personal reflection and group meetings.</li>
			</ul>
			<h8><u>Concerns conflicting with Participation</u></h8>
			<ul>
				<li>Focus on one specific tense urgend situation, but apart from that no interest in or opportunity to invest time to contribute in continual personal and interpersonal reflection; Here, consulting and coaching offer ample helpful, superior options.</li>
				<li>Searching a platform to promote solution frameworks; Other meeting formats, such as Un-Conferences, Meet-Ups or many business workshops, are superior options.</li>
				<li>No interest in sharing experiences in flow session groups due to company confidentiality rules or other reasons; Here, (continual) one on one coaching or (informal) mentoring might be preferable. If a continuous exploration of personal qualities not necessarily limited to work contexts is aspired, other forms of support or self experience, such as professional psychotherapy, are recommended.</li>
			</ul></p>
			<h8><u>Session Moderation</u></h8>
			<p>Session moderators have professional experience in (inter)personal counseling, group dynamics and organizational development. They aim at providing a safe learning atmosphere and supporting group cohesion.
			</p>
		    <hr>
		    <h5>Where and When?</h5>
		    <p>Flow sessions can be organized in companies. Preferably however, they are offered in public institutions, such as Universities, that provide impartial ground for session participants.</p>
			<p>Institutions are responsible for selecting skillful flow session moderators with a professional focus on interpersonal dynamics. If flow sessions take place within a company, moderators external to the organization may be invited.</p>
			<p>In the first flow session, meeting appointments are announced and agreed upon. A minimal flow session schedule encloses 6 monthly or bi-monthly meetings.</p>
			<p>A typical flow session lasts 180 Minutes (including 30 Minutes break).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalFlowSessionProcedure" tabindex="-1" role="dialog" aria-labelledby="modalFlowSessionProcedureLong" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">rhea.framework Flow Session Procedure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <h5>General Information</h5>
		    <p>In a flow session, participants present, work on, and cross-reference flows - specific tense interpersonal situations from participants’ work environment. <b>All flow session participants confirm confidentiality in the group.</b></p>
		    <hr>
		    <h5>Roles</h5>
		    <p>
		    	<ul>
					<li>Flow (or Case) Provider</li>
					<li>Moderator</li>
					<li>Interested Peers</li>
				</ul>
		    </p>
		    <hr>
		    <h5>Elaboration Steps</h5>
		    <p>
		    	<ol>
					<li>The Flow Provider describes his/her flow, its context, intent and personal motivations, (intended) solution and consequences. He/She proposes 1-3 questions of interest. The Flow Provider may want to express his/her personal feelings about the situation, what moves them in it. The flow is given a name and, if appropriate, a symbol/image/metaphor.</li>
					<li>Peers reflect their understanding by trying to capture – in their own words – the essential meaning of what the Flow Provider has revealed. Peers may ask questions regarding what has been said. It is essential that Peers stay with the Flow Provider and try to understand his/her message. (e.g. You said you felt stressed, so do you still feel stressed now?)</li>
					<li>Peers may ask whatever is of interest to them in the context of the described situation? (e.g. Did you already talk to the department head?)</li>
					<li>All participants try to identify and clarify tensions in the given situation.</li>
					<li>The Flow Provider reflects his/her feelings and meanings about the situation. In particular he/ she identifies any significant, highly important events in the flow, others listen actively.</li>
					<li>Change of perspective. Peers take on the perspective of the Flow Provider or other perspectives that are central in the described situation. They share feelings and views of the situation and its context. Peers eventually suggest options that they consider helpful in the situation. The Flow Provider gives feedback.</li>
					<li>Reflection of the Flow Provider. The Flow Provider explores the contributions of Peers’ perspectives and reflects in how far anything/any person in the flow session contributed to moving the understanding of the situation forward. The Flow Provider explores what it is that he/she most wishes (or fears) to happen.</li>
					<li>Reflection in flow session group. The flow session group reflects upon their process, and insights related to  the case.</li>
				</ol>
		    </p>
      </div>
      <div class="modal-footer">
        <small>The flow session elaboration sequence is based on the <i><a href="/literature">open case</a></i> workshop method.</small> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <footer class="py-3 bg-light">
        <div class="container">
            <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which was elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.3 (2020). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
				<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
			</small></p>
        </div>
        <!-- /.container -->
    </footer>
	


<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
</body>
</html>
