<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>rhea.framework Literature</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<style>
		.itir-header {
		    height: 50vh;
		    min-height: 300px;
		    background: url('../static/assets/bg.png') center center no-repeat scroll;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    background-size: cover;
		    -o-background-size: cover;
		}
		
		.descInHeader {
			vertical-align: middle;
			line-height: 300px;
		}
	</style>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="28" height="28" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/flowtemplate">FlowTemplate</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/ontologyview">KnowledgeBase</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/literature">Literature<span class="sr-only">(current)</span></a>
	         </li>
	    </ul>
		<!--<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>
	</div>-->
	</nav>
    
	
	<div class="container-fluid">
		<div class="row">
		  <div class="col-md-12"><div class="text-center lead mt-5"><b>References</b></div></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
	  			<ul>
					<li><small class="lead">D. Haselberger, "The Person Principle in the Unified Process - A Design Science Research Study on Supporting Performance-Related Leadership Interactions in ICT Project Teams," University of Vienna, Doctoral Dissertation, 2019.</small></li>
					<li><small class="lead">D. Haselberger and R. Motschnig, "Computer Science Students' Experience of Reflecting on Team Leadership - A Case Study of a Student-Centered Course on Communication," Frontiers in Education Conference 2018.</small></li>
					<li><small class="lead">D. Haselberger, “A Literature-based Framework of Performance-related Leadership Interactions in ICT Project Teams,” Information and Software Technology, vol. 70, no. C, pp. 1–17, Feb. 2016.</small></li>
					<li><small class="lead">iCom-Team, Constructive Communication in International Teams - An experience-based guide. Waxmann, 2014.</small></li>
					<li><small class="lead">D. Haselberger and R. Motschnig, “Enabling Potentials – Supporting Project Managers’ Learning in Technology-Enriched Environments,” In Proceedings of the World Conference on Educational Multimedia, Hypermedia and Telecommunications 2013, Victoria, Canada, 2013, pp. 68–77.</small></li>
				</ul>
			</div>
			<div class="col-md-2"></div>
	  	 </div>
		<div class="row">
		  <div class="col-md-12"><div class="text-center lead mt-5"><b>Recommended Literature</b></div></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
	  			<ul>
					<li><small class="lead">I. Jacobson, G. Booch, and J. Rumbaugh, The Unified Software Development Process. Munich: Addison-Wesley, 2007.</small></li>
					<li><small class="lead">D. H. Hansson and J. Fried, Rework. Crown Publishing Group, 2010.</small></li>
					<li><small class="lead">S. A. Haslam, S. D. Reicher, and M. J. Platow, The New Psychology of Leadership. Psychology Press, 2011.</small></li>
					<li><small class="lead">R. Motschnig and D. Ryback, Transforming Communication in Leadership and Teamwork. Cham: Springer International Publishing, 2016.</small></li>
					<li><small class="lead">C. R. Rogers, On Personal Power - Inner Strength and its revolutionary Impact. Constable and Robinson Publishing, 1978.</small></li>
					<li><small class="lead">J. Surowiecki, The wisdom of crowds: Why the many are smarter than the few and how collective wisdom shapes business. Anchor Books, 2005.</small></li>
 <li><small class="lead">G. Vickers, Human systems are different. Paul Chapman Pub, 1983.</small></li>	
				</ul>
			</div>
			<div class="col-md-2"></div>
	  	 </div>
	 </div>
	 
	 
	     <footer class="py-3 bg-light">
	         <div class="container">
	             <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which was elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.3 (2020). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
	 				<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	 			</small></p>
	         </div>
	         <!-- /.container -->
	     </footer>
	
	 <script src="../static/js/jquery-3.2.1.min.js"></script>
	 <script src="../static/js/popper.min.js"></script>
	 <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
