<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>rhea.framework Knowledge Base</title>
  <meta name="Rhea Prototype Team Identity" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/select2.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <style>
  	.custom-file-control:after {
  	    content: attr(data-content) !important;
  	}
	
	.svg-container {
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    padding-bottom: 5%; /* aspect ratio */
	    vertical-align: top;
	    overflow: hidden;
	}
	.svg-content-responsive {
	    display: inline-block;
	    position: absolute;
	    top: 10px;
	    left: 10px;
		right: 10px;
	}

	
  </style>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="28" height="28" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/flowtemplate">FlowTemplate</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/ontologyview">KnowledgeBase<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
<!--		<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>
	--></div></nav>
<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/ontologyview">Knowledge Base</a></li>
		<li class="breadcrumb-item active" aria-current="page">Prototype Team Identity</li>
	  </ol>
	</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-left lead my-2 mb-4">Prototype Team Identity<div class="text-center"><img src="../static/assets/PrototypeTeamIdentity.svg" width="100px"></div></h3>
		</div>
	</div>
	<hr>
		<div class="row">
		  <div class="col-md-12"><div class="text-center lead mt-5"><b>Key Takeaways</b></div></div>
		</div>
		<div class="row">
			 <div class="col-md-12 mt-4">
 	  			<ul>
 					<li><small class="lead">Leadership effectiveness is related to leaders’ ability to represent and advance the social identity of a group. Effective leaders transform by embodying the group they influence.</small></li>
 					<li><small class="lead">Team cohesion and cooperation are emergent results of social identity. Trust and reciprocal respect are associated with social identity. Being perceived as trustworthy, fair and charismatic is a consequence of in-group prototypicality.</small></li>
 					<li><small class="lead">Team leaders may turn to the group and its social context rather than relying on de-contextualized knowledge and principles.</small></li>
 					<li><small class="lead">To prototype team identity, team members actively listen to co-workers to understand their needs, values, beliefs, priorities, aspirations. They assist in establishing norms and conventions that regulate working together within the team, particularly by authentic role-modeling.</small></li>
 				</ul>
		</div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-md-12"><div class="text-center lead mt-5"><b>Centrality in the Project Life-Cycle</b></div></div>
	</div>
	<div class="row">
	  <div class="col-md-12 mt-4"><div class="progress"></div></div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-md-12"><div class="text-center lead mt-5"><b>Emotional Landscape</b></div></div>
	</div>
	<div class="row">
	  <div class="col-md-12 mt-4"><div class="text-center"><div id="emoContainer"></div></div>
  		<p><div class="text-center small">This emotional landscape is derived from associated <i>reference flows</i> based on the <a href="http://www.saifmohammad.com/WebPages/NRC-Emotion-Lexicon.htm">NRC Word-Emotion Association Lexicon</a> (v0.92). Find out more about Plutchik's Wheel of Emotions <a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions#Plutchik's_wheel_of_emotions">here</a>. </div>
	</div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-md-12"><div class="text-center lead mt-5"><b>Related Reference Flows</b></div>
	 </div>
 	</div>
	<div class="row">
	  <div class="col-md-2 mt-4">
	  </div>
  	 <div class="col-md-8 mt-4">
  		<div id="relrefflows"></div>
	  </div>
	  <div class="col-md-2 mt-4">
	  </div>
  	</div>
	<div class="row">
	  <div class="col-md-12 mt-4 mb-4">
		<div class="text-center">Get an in-depth view on <i>reference flow</i> connections with the knowledge base <a href="/ontologyvisualization" class="btn btn-outline-success  btn-sm my-2 my-sm-0" role="button" aria-disabled="true">Visualization</a>.
		</div>
	</div>
	<hr>
	<div class="row">
		 <div class="col-md-12 mt-4">
			
		</div>
	</div>
	</div>
			 
	
</div>
<footer class="py-3 bg-light">
	 <div class="container">
    <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which was elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.3 (2020). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
		<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	</small></p>
	</div>
</footer>


<script src="../static/js/d3.min.js"></script>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/select2.min.js"></script>
<script>
	function handleData(data) 
	{
		flows = data.relatedflows;
		console.log(flows.length);
		$('#relrefflows').append('<div id="accordion" role="tablist">');
		for (var x = 0; x < flows.length - 1; x++)
		{
			flow = flows[x];
			fl = flow["n.title"]
			desc = flow["n.description"];
			ref = flow["n.referenceURL"];
			var id = fl.replace(/\s+/g,'');
			console.log(id);
			//$('.detailflows').append('<button type="button" onmouseover="handleMouseOver(this)" class="btn btn-sm btn-outline-info mt-1 mb-1 ml-1 mr-1">' + fl + '</button>');
			$('#relrefflows').append('<div class="card"><div class="card-header" role="tab" id="'+ id + x +'"><h5 class="mb-0"><a data-toggle="collapse" href="#'+id+'" aria-expanded="true" aria-controls="'+ id +'">'+fl+'</a></h5></div>');
			$('#relrefflows').append('<div id="'+id+'" class="collapse" role="tabpanel" aria-labelledby="'+ id + x +'" data-parent="#accordion"><div class="card-body">'+desc+' <a target="_blank" href=' + ref + '>Read more</a></div></div></div>');
		}
		$('#relrefflows').append('</div>');
		
		upph = data.upphases
		unprphases = ["Inception", "Elaboration", "Construction", "Transition"]
		colorSpace = ["#9E9E9E", "#616161", "#424242", "#212121"];
		for (var y = 0; y < unprphases.length; y++)
		{
			notpresent = false;
			title = unprphases[y];
			for(var i in upph){
				upp = upph[i];
			    if(upp["b.name"] == unprphases[y]){
					percent = Math.round((upp["count(b)"]/flows.length)*100);
					console.log(percent)
					if (percent > 0)
					{
						$('.progress').append('<div class="progress-bar" role="progressbar" style="width:' + percent + '%; background-image:none; background-color: '+ colorSpace[y] +';" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100">' + title + '</div>');
					}
					notpresent = false;
					break;
			    }
				else
				{
					notpresent = true;
				}
			}
			if(notpresent)
			{
				//$('#upphasecent').append('<span style="width:0%" class="' + colorSpace[y] + '">' + title + '</span>');
			}
			console.log(upp)	
		}
//
		emo = data.emotionlandscape
		//max radius = 50
		var emoCircles = [
		  { "x_axis": 50, "y_axis": 140, "radius": Number(emo["joy"])/2, "color" : "#fce03b", "name": "Joy"},
		  { "x_axis": 152, "y_axis": 125, "radius": Number(emo["anticipation"])/2, "color" : "#ff9618", "name": "Anticipation"},
		  { "x_axis": 254, "y_axis": 110, "radius": Number(emo["anger"])/2, "color" : "#fa0044", "name": "Anger"},
		  { "x_axis": 356, "y_axis": 100, "radius": Number(emo["disgust"])/2, "color" : "#aa6dba", "name": "Disgust"},
		  { "x_axis": 458, "y_axis": 100, "radius": Number(emo["fear"])/2, "color" : "#00ad52", "name": "Fear"},
		  { "x_axis": 560, "y_axis": 110, "radius": Number(emo["trust"])/2, "color" : "#80d52e", "name": "Trust"},
		  { "x_axis": 662, "y_axis": 125, "radius": Number(emo["sadness"])/2, "color" : "#6a9bcb", "name": "Sadness"},
		  { "x_axis": 764, "y_axis": 140, "radius": Number(emo["surprise"])/2, "color" : "#00a7c3", "name": "Surprise"}
	   ];
		
	   var svgContainer = d3.select('#emoContainer')
		  					.append("div")
 		 					.classed("svg-container", true) //container class to make it responsive
		  					.append("svg")
		  					.attr("width", 816)
		  					.attr("height", 200);
		  
	   var circles = svgContainer.selectAll("circle")
	                             .data(emoCircles)
	                             .enter()
	                             .append("circle");
	   
	   var circleAttributes = circles
	                          .attr("cx", function (d) { return d.x_axis; })
	                          .attr("cy", function (d) { return d.y_axis; })
	                          .attr("r", function (d) { return d.radius; })
	                          .style("fill", function(d) { return d.color; });
							  
				   var text = svgContainer.append("svg:g").selectAll("g")
							  .data(emoCircles)
							  .enter().append("svg:g");

							 

							  text.append("svg:text")
									        .attr("x", function (d) { return d.x_axis - 15;})
									        .attr("y", 190)
									        .text(function(d) { return d.name; });
//  
//  <span style="width:15%" class="bar-2">15%</span>
//  <span style="width:30%" class="bar-3">30%</span>
//</div>
	}
	
	$.ajax({
	            url: '/getflows',
	            type: 'POST',
				contentType:'application/json',
	            dataType: 'json',
	            success: handleData,
	            data: JSON.stringify({ title: "PTI" })
	        });
</script>
</body>
</html>
